.tasks {
	display: flex;
	flex-direction: column;
}

.tasks h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.list {
	height: 70vh;
	overflow-y: auto;
	padding: 2.5rem;
	margin-bottom: 2vh;
}

.list li {
	background: #ffffff;
	border-radius: 0.625rem;
	padding: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	animation: animateList .5s linear forwards;
}

@keyframes animateList {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.list li + li{
	margin-top: 0.625rem;
}

span[contenteditable = 'true'] {
	display: block;
	width: 10rem;
	/* text-wrap: wrap; */
  border: 1px solid #DBD7D2;
	border-radius: 5px;
}

span[contenteditable = 'true']:not(:focus) {
	animation: animateBorder 1s linear infinite;
}

@keyframes animateBorder {
	0% {
		border: 1px solid #DBD7D2;
	}

	100% {
		border: 1px solid red;
	}
}

.titleInList {
	display: flex;
	align-items: center;	
}

.titleInList > input[type='checkbox'] {
	margin-right: 10px;
}

.useFullIcons img + img{
	margin-left: 0.625rem;
}

.addCategory {
	width: 25rem;
}

.addCategory > button{
	width: 18.75rem;
}


.invisible {
	display: none;
}

